body {
  background-color: #0f1266;
  color: white;
}
header, footer {
  background-color: #31a5ed;
  color: black;
}
table {
      margin: auto;
    }
#form {
  width: 400px;
  margin: auto;
}
nav a {
  background-color: #bf4a01;
  color: #fef9ff;
  padding: 8px;
  border: thin solid #0d1f2d;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
}
nav a:visited {
  color: #e4c3ad;
}
nav a:hover {
  background-color: #fef9ff;
  color: #5b7d87;
  font-weight: bold;
}
nav a:active {
  text-decoration: none;
}
footer {
  text-align: center;
  padding-bottom: 10px;
}
#description {
  text-align: center;
}
#one {
  text-align: center;
  color:#001e56;
}
#two {
  text-align: center;
  color:#001e56;
}
#three {
  text-align: center;
  color:#001e56;
}
.restaurantName {
  /*font-family: 'Anton', sans-serif;*/
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-weight: bold;
}
.itemName {
  font-size: 2em;
  font-weight: bold;
  color: #31a5ed;
}
.col-lg {
  text-align: center;
}
label {
  font-weight: bold;
}
#entrees {
  text-align: center;
}
#beverages {
  text-align: center;
}
.jumbotron {
  height: 200px;
  background-color: #31a5ed;
}
hr {
  background-color: white;
}
#menuSeparator {
  width: 90%;
}
.material-icons {
  font-size: 17px;
  position: relative;
  top: 3px;
  right: 2px;
}
