body {
  background-color: #3ee071;
}
header, footer {
  background-color: white;
}
table {
  margin: auto;
}
#form {
  width: 400px;
  margin: auto;
}
nav a {
  background-color: #bf4a01;
  color: #fef9ff;
  padding: 8px;
  border: thin solid #0d1f2d;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: #fef9ff;
  color: #5b7d87;
}
nav a:active {
  font-weight: bold;
}
nav a:visited {
  color: #e4c3ad;
}
