body {
  background-color: #3ee071;
}
header, footer {
  background-color: white;
}
nav a {
  background-color: #bf4a01;
  color: #fef9ff;
  padding: 8px;
  border: thin solid #0d1f2d;
  text-decoration: none;
  text-align: center;
}
nav a:visited {
  color: #e4c3ad;
}
nav a:hover {
  background-color: #fef9ff;
  color: #5b7d87;
  font-weight: bold;
}
nav a:active {
  text-decoration: none;
}
.restaurantDescription {
  width: 390px;
  margin: auto;
  text-align: center;
}
footer{
  text-align: center;
}
.restaurantName {
  font-family: 'Anton', sans-serif;
  text-align: center;
}
.itemName {
  font-size: 1.5em;
  font-weight: bold;
}
#entrees {
  text-align: center;
}
#beverages {
  text-align: center;
}